* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'cairoFont';
  src: url('../fonts/Cairo-SemiBold.ttf')
}

body {
  background-color: #fafafa !important ;
  font-family: 'cairoFont', Arial, sans-serif;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

#top-menu .bg-light {
  background-color: #fff !important;
}


.logo--youtube {
  padding: 1px 30px;
  background-color:#dc3545;
  color: #fff;
  border-radius: 9px;
  position: relative;
}

.nav-item .nav-link:hover, .active {
  background-color: #dc3545;
  color: #fff !important ;
}

.active {
  color: #fff !important ;
}

.card:hover .fa-2x {
  display: inline !important ;
  color: #444;
}

.card {
  transition: .3s;
}

.card:hover {
  transform: translateY(-5px);
}

.fa-lg {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  height: 100%;
  background-color: #fff;
  font-size: 18px;
  overflow: hidden;
  padding-bottom: 75px;
}

.sidebar:hover {
  overflow-y: scroll;
}

.sidebar.show  {
  right: -25rem;
}

.sidebar .danger {
  color: #dc3545
}

.sidebar .list-group-item:hover  {
  color: #fff !important;
  background-color: #dc3545;
}

.sidebar .list-group-item:hover .danger {
  color: #fff !important;
}

.sidebar .list-group-item {
  width: 19rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
  width: 8px;
}

.layer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

.search-icon {
  display: none !important ;
  color: #dc3545;
  cursor: pointer;
  padding: 15px 10px;
  position: absolute;
  top: 15px;
  left: 132px;
}

.search-icon:hover {
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
}

.search-input {
  position: fixed;
  top: 72px;
  border: none;
  padding: 6px 23px;
  height: 60px;
  background-color: #efeeee;
  display: none !important;
  z-index: 1;
  margin-top: 4px;
  outline: none !important;
  width: 70vw;
  margin-right: 10%;
}

.search-input:focus {
  outline: none !important ;
  background-color: #efeeee;
}

.hidden--input--top {
  display: inline !important;
  transition: .5s;
}

/* 1170 */

@media (max-width: 1170px) {
  .navbar .collapse .form-inline {
    display: none;
  }

  .navbar .search-icon {
    display: inline !important ;
  }
}

/*************************/
/* search page style  */
/*************************/

.clear {
  cursor: pointer;
}

.hidden--option {
  display: flex !important;
}

/* ❌ bropolme there */
/* .text-NoWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/****************************/
/*    LOG page style  */
/***************************/
.list-of-date {
  height: 600px;
}

.list-of-date a {
  cursor: pointer;
}

.active {
  background-color: #dc3545 !important;
  border: none;
}

.remove {
  cursor: pointer;
}

/* sitebar */


.container-o {

}

.hamurger-menu {
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 9999999 !important;
  /* margin: 20px 40px; */
}

.change {
  right: 0 !important;
}

.line {
  background-color: #dc3545;
  width: 100%;
  height: 15%;
  border-radius: 10px;
  transition: .5s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px) ;
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px) !important;
}

.navbar--ul {
  position: fixed;
  top: 100px;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #dc3545;
  z-index: 99999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20% 0 0 20%;
  transition: .7s  cubic-bezier(1, 0, 0, 1);
}

.nav-list {

}

.nav-item {
  list-style: none;
  margin: 25px;
}

.nav-item__nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #eee !important;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  
}

.nav-item__nav-link::before,
.nav-item__nav-link::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  transform: scale(0);
  transition: .4s;
}

.nav-item__nav-link::before {
  bottom: 0;
  transform-origin: right;
}

.nav-item__nav-link::after {
  top: 0;
  transform-origin: left;
}

.nav-item__nav-link:hover:before,
.nav-item__nav-link:hover::after {
  transform: scale(1)
}


/* End of sitebar */

.close {
  margin-right: auto;
  background-color: #fff;
  border: none;
  font-size: 18px !important;
}

/* pagention */
.pagention {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  color: #dc3545;
  margin-top: 50px;
}

.background-change {
  background-color: #fff;
  padding: 1px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.background-change:hover,
.background-change i:hover {
  background-color: #dc3545;
  color: #fff;
}

.pagention i {
  cursor: pointer;
  /* background-color: #dc3545;
  color: #fff;
  padding: 8px 12px;
  border-radius: 10px;*/
} 

.fa-angle-left {
  color: #cccccc
}

.fa-times.remove {
  padding: 8px 10px;
  border-radius: 50%;
}

.fa-times.remove:hover  {
  background-color: #dc3545;
  color: #fff;
}

.search-header span,
.botton--icon i  {
  cursor: pointer;
}



@media(max-width: 1253px) {
  .nav-item {
    margin: 25px 10px !important;
  }
}

@media(max-width: 1166px) {
  .nav-item {
    margin: 25px 5px !important;
  }
}

@media(max-width: 1133px) {
  .nav-item {
    margin: 25px 1px !important;
  }
}

@media(max-width: 1110px) {
  .nav-item {
    margin: 25px 0px !important;
  }
  .navbar-nav .nav-link  {
    padding: .8rem .3rem !important;
    display: none;
  }
}




@media(max-width: 798px) {
  .navbar-expand-sm .nav-item {
    margin: 10px !important;
  }
}

@media(max-width: 638px) {
  .navbar-expand-sm .nav-item {
    margin: 5px !important;
  }
}

@media(max-width: 577px) {
  .card-horizontal .img-square-wrapper img {
    width: 100%
  }
  .d-flex {
    display: flex !important;
    flex-direction: row;
}
}

